@import '../variables/index.scss';

* {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

p,h1,h2,h3,h4,h5,h6,ol,dl,dt,dd{
  /* 默认有边距，都要清除 */
  margin: 0;
  padding: 0;
  /*字体设置*/
  font-size: 14px;
  font-family: "Microsoft Yahei",sans-serif;
  color: #ccc;
  /* 去掉列表的原点 */
  list-style: none;
  /* 默认鼠标 */
  cursor: default;
}

ul, li {
   /* 去掉列表的原点 */
   list-style: none;
}


.anticon-right-margin {
  margin-right: 8px;
}

.danger {
  color: red;
}

.to-edge {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.full-screen {
  position: fixed;
  @extend .to-edge
}

.full {
  position: absolute;
  @extend .to-edge
}

*::-webkit-scrollbar {
  display: none;
}

// https://github.com/NG-ZORRO/ng-zorro-antd/issues/1723
nz-select.ant-fullcalendar-year-select {
  margin-right: 5px;
}

.floating-btn {
  padding: 12px;
  transition: all 0.2s linear;

  span {
    transition: all 0.2s linear;
  }

  &:hover {
    transform: translate3d(0, -2px, 0);
    span {
      color: $danger;
    }
  }
}
  
  