// colors
$danger: red;
$bluecolor: #42A3F2;

// 字体
$color-text-base: #282828; // 重要信息，如一级标题
$color-text-body: #767676; // 普通信息，如正文内容
$color-text-minor: #a1a1a1; // 次要信息，如利益点、摘要
$color-text-caption: #d6d6d6; // 辅助信息，如列表内容描述
$color-text-placeholder: #c5c5c5; // 占位文字

// text colors
$grey-text: rgba(0, 0, 0, 0.65);
