<div>
  <div class="header">
    <div class="header-left">
      <h2 class="">楼盘管理 | Property Manage</h2>
    </div>
    <button nz-button nzType="primary" (click)="addHouseModal()">添加楼盘</button>
  </div>
  <div class="main">
    <div class="main-left">
      <div class="main-left-header">
        <i class="city-header-icon"></i>
        <span>城市选择</span>
      </div>
      <nz-tree
        [nzData]="nzTrees"
        (nzClick)="activeNode($event)"
        (nzDblClick)="openFolder($event)"
        [nzTreeTemplate]="nzTreeTemplate"
      >
      </nz-tree>
      <ng-template #nzTreeTemplate let-node>
        <span class="custom-node" [class.active]="activedNode?.key === node.key">
          <span *ngIf="!node.isLeaf">
            <span class="folder-name">{{ node.title }}</span>
          </span>
          <span *ngIf="node.isLeaf">
            <i nz-icon nzType="file"></i>
            <span class="file-name">{{ node.title }}</span>
          </span>
        </span>
      </ng-template>
    </div>
    <div class="main-right">
      <div class="main-right-header">
        <form [nzLayout]="'inline'" nz-form [formGroup]="seachForm">
          <div class="right-form">
            <div>
              <nz-form-item>
                <nz-form-label nzFor="taskNumber">楼盘名称：</nz-form-label>
                <nz-form-control>
                    <input formControlName="taskNumber" nz-input placeholder="请输入" />
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-label nzFor="taskNumber">开发商：</nz-form-label>
                <nz-form-control>
                    <input formControlName="feedbackName" nz-input placeholder="请输入" />
                </nz-form-control>
              </nz-form-item>
            </div>
            <div>
              <button class="submitBtn" nz-button nzType="primary">查询</button>
            </div>
          </div>
        </form>
      </div>
      <!--列表-->
      <nz-table #basicTable [nzData]="listOfData">
        <thead>
          <tr>
            <th>楼盘状态</th>
            <th>Name</th>
            <th>Age</th>
            <th>Address</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of basicTable.data">
            <td><nz-switch [(ngModel)]="data.type"></nz-switch></td>
            <td>{{ data.name }}</td>
            <td>{{ data.age }}</td>
            <td>{{ data.address }}</td>
            <td>
              <a (click)="getRouter()">编辑</a>
              <nz-divider nzType="vertical"></nz-divider>
              <a>删除</a>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </div>
  <!--新增/编辑-->
  <nz-modal
    nzWidth="800"
    [(nzVisible)]="isVisible"
    nzTitle="Modal Title"
    (nzOnCancel)="handleCancel()"
    (nzOnOk)="handleOk()"
    [nzOkLoading]="isOkLoading"
  >
    
  </nz-modal>
</div>