@import 'src/assets/scss/index.scss';

.full-screen {
  .logo {
    flex-direction: column;
    @include center()
  }
	.main-header {
		@include center-y();
		flex-direction: row-reverse;
		background: #fff;
		.user-content {
			height: 64px;
			margin: 0;
			display: flex;
			.user-img {
				display: inline-block;
				height: inherit;
				text-align: center;
				a {
          min-height: 64px;
          color: #ccc;
					img {
						width: 31px;
            height: 31px;
            margin-right: 10px;
					}
				}
			}
		}
	}
	
	.inner-layout {
		background-color: #F1F2F5;
		padding: 15px;
		.content {
			min-height: 700px;
			background-color: #fff;
		}
	}
}