<div class="home-container">
  <h2 class="old-login-time">管理员，您好！  上次登录时间：2020年11月11日 15:23:00</h2>
  <img class="img-banner" src="/assets/img/home-banner.png" alt="首页banner">
  <div nz-row nzType="flex" nzJustify="space-between" class="data-content" nzGutter="24">
    <div nz-col nzSpan="8">
      <div class="data-item estate-color">
        <div class="data-number">
          <h1>268</h1>
          <h4>楼盘总数</h4>
        </div>
      </div>
    </div>
    <div nz-col nzSpan="8">
      <div class="data-item company-color">
        <div class="data-number">
          <h1>268</h1>
          <h4>楼盘总数</h4>
        </div>
      </div>
    </div>
    <div nz-col nzSpan="8">
      <div class="data-item user-color">
        <div class="data-number">
          <h1>268</h1>
          <h4>楼盘总数</h4>
        </div>
      </div>
    </div>
  </div>
</div>