:host {
    display: flex;
    padding: 24px;
}
.home-container {
    .old-login-time {
        color: #000;
        font-size: 16px;
        
    }
    .img-banner {
        width: 100%;
    }
    .data-content {
        margin-top: 20px;
        .data-item {
            height: 200px;
            border-radius: 5px;
            padding: 35px 50px;
            &.estate-color {
                background-color: #3482CC;
            }
            &.company-color {
                background-color: #2EC0D2;
            }
            &.user-color {
                background-color: #ED9537;
            }
            .data-number {
                h1 {
                    font-size: 42px;
                    font-weight: 500;
                    color: #ffffff;
                }
                h4 {
                    font-size: 16px;
                    color: #ffffff;
                }
            }
        }
    }
}