@import "../../../assets/scss/index.scss";

div.page-content {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	background: url(/assets/img/flm_login_bg.jpg);
	background-size: 100% 100%;
	.wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		min-height: 350px;
		max-height: 350px;
		height: 35vh;
		min-width: 300px;
		width: 50vw;
		max-width: 500px;
		padding: 40px 30px 10px;
		border-radius: 8px;
		background-color: white;
		.tab {
			width: 100%;
			height: 60px;
			border-bottom: 1px solid #E0E0E0;
			@include center-y;
			div {
				width: 110px;
				height: 60px;
				line-height: 60px;
				margin-right: 10px;
				text-align: center;
				color: $color-text-body;
				cursor: pointer;
				&.active {
					font-size: 16px;
					font-weight: 600;
					color: $bluecolor;
					border-bottom: 3px solid $bluecolor;
				}
			}
		}
		.login-form {
			margin-top: 30px;
			min-width: 200px;
			width: 40vw;
			max-width: 400px;
		}

		.qr_content {
			padding-top: 20px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			img {
				margin-bottom: 15px;
			}
		}

		button {
			width: 100%;
		}
	}
}